# top-most EditorConfig file
root = true

charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.csproj]
indent_style = space
indent_size = 2

[*.cs]
indent_style = space
indent_size = 4
file_header_template = This file is part of Cecilia.\nLicensed under the MIT License.

# .NET Standard 2.0 does not support it.
csharp_style_prefer_range_operator = false
csharp_style_var_when_type_is_apparent=false:silent
